In [4]:
import pandas as pd
import numpy as np
from scipy import stats

# Part 1. Data Preparation

In [5]:
# a) Import tt_ug.csv and tt_g.csv into Python. 
tt_ug = pd.read_csv('tt_ug.csv')
tt_g = pd.read_csv('tt_g.csv')
tt_ug.head()

   tt_min
0       7
1      12
2      13
3      13
4      13

In [6]:
# b) Find how many observations are in each sample. 
m=np.size(tt_ug['tt_min'])
n=np.size(tt_g['tt_min'])
print(m, n)

49 35

In [7]:
# c) Find the mean of each sample. 
ug_bar = np.mean(tt_ug['tt_min'])
g_bar = np.mean(tt_g['tt_min'])
print(ug_bar, g_bar)

17.755102040816325 27.285714285714285

In [8]:
# d) Find the variance of each sample. 
S2_ug = np.var(tt_ug['tt_min'], ddof=1)
S2_g = np.var(tt_g['tt_min'], ddof=1)
print(S2_ug, S2_g)

183.68877551020418 154.7983193277311

In [9]:
# e) Find the pooled variance. 
# Complete the code below
S2P = ((m-1)*S2_ug + (n-1)*S2_g) / (m + n - 2)
print(S2P)

171.709805873569

# Part 2. Testing equality of means, undergraduate versus graduate students

In [10]:
# a) The hypothesis that the average travel times of undergraduate and graduate students are different at the 5% significance level. What is the p-value? 

TS = (ug_bar-g_bar)/(np.sqrt(S2P)*np.sqrt(1/m+1/n))
t_critical = stats.t.ppf(0.975, m+n-2)
P_val = (1-stats.t.cdf(abs(TS), m+n-2))*2

print(TS, t_critical, P_val)

if abs(TS)>t_critical:
    display('reject')
else:
    display('accept')

-3.2863640495969206 1.9893185569368186 0.0014949936513590778

'reject'

In [13]:
# b) The hypothesis that the average travel times of graduate students are longer at 5% significance level. 
# Complete the code below
TS = (ug_bar-g_bar)/(np.sqrt(S2P)*np.sqrt(1/m+1/n))
t_critical = stats.t.ppf(1 - 0.05, m + n - 2)
P_val = 1 - stats.t.cdf(TS, m + n - 2)

print(TS, t_critical, P_val)

if abs(TS)>t_critical:
    display('reject')
else:
    display('accept')

-3.2863640495969206 1.6636491839760918 0.9992525031743205

'reject'

# Part 3. Testing equality of variances

In [14]:
# Complete the code below
FS = S2_ug / S2_g
F_lower = stats.f.ppf(0.025, m-1, n-1)
F_upper = stats.f.ppf(0.975, m-1, n-1)

print(FS, F_lower, F_upper)
if ((FS>F_lower) & (FS<F_upper)):display('accept')
else: display('reject')

1.1866328801755766 0.5415204753690431 1.910961385173062

'accept'