### 1. Sample Space

In [13]:
import pandas as pd

In [7]:
# import data
df = pd.read_csv('./SFBAdrivers.csv')
df # 차를 몇 대 소유하고 있는지, 운전자가 몇 명인지, 전체 가구원이 몇 명인지에 대한 데이터임

     HHVEHCNT  DRVRCNT  HHSIZE
0           2        2       6
1           1        1       1
2           3        4       5
3           2        2       2
4           3        3       3
..        ...      ...     ...
582         2        2       2
583         6        2       2
584         1        2       2
585         3        2       2
586         1        1       1

[587 rows x 3 columns]

In [8]:
df.head()

   HHVEHCNT  DRVRCNT  HHSIZE
0         2        2       6
1         1        1       1
2         3        4       5
3         2        2       2
4         3        3       3

In [9]:
# 해당 표본 공간에는 음수가 존재할 수 없음
# a-1. Empirical sample space
min(df.HHVEHCNT), max(df.HHVEHCNT)
# a-2. Theoretical sample space

(0, 7)

In [10]:
# b-1. Empirical sample space
min(df.DRVRCNT), max(df.DRVRCNT)
# b-2. Theoretical sample space

(0, 5)

In [11]:
# c-1. Empirical sample space
min(df.HHSIZE), max(df.HHSIZE)
# c-2. Theoretical sample space

(1, 8)

`d.` What  is  the  size  of the total  empirical  sample  space,  considering  all three  variables?  

Note 
that  certain  combinations  of  values  are  logically  impossible.  

Big  Sample  space  –  can’t logically have more drivers than household members, but other than that, nothing else is 
logically impossible.

### 2. Events

In [28]:
# a. Household size is 2
# 
print('count:', sum(df.HHSIZE == 2))
print('count:', len(df[df.HHSIZE == 2]))

count: 222
count: 222

In [23]:
# b. Number of drivers in the household is 2 and household size is 2.
# 
print('count:', len(df[(df.HHSIZE == 2) & (df.DRVRCNT == 2)]))

count: 178

In [24]:
# c. Number of vehicles in the household is 2 and number of household drivers is 2. 
#
print('count:', len(df[(df.HHVEHCNT == 2) & (df.DRVRCNT == 2)]))

count: 196

In [29]:
# d. Household size is larger than 5. 
#
print('count:', len(df[(df.HHSIZE > 5)]))

count: 11

In [30]:
# e. Household size is less than 3 and number of household vehicles is 3 or more.
#
print('count:', len(df[(df.HHSIZE < 3) & (df.HHVEHCNT >= 3)]))

count: 40

In [31]:
# f. Number of household drivers is 0 OR household vehicles is 0. 
# 
print('count:', len(df[(df.DRVRCNT == 0) | (df.HHVEHCNT == 0)]))

count: 38

### 3. Set Operations